<h1>Add an artist</h1>
<h1><%= @artist.id ? 'Edit Artist' : 'Create Artist'%> </h1>

<%= form_for @artist do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :recordlabel %>
    <%= f.text_field :recordlabel %>
    <%= f.submit%>
<% end%>

<hr>

<button>
<%= link_to 'Cancel', root_path%>
</button>
