<h1>Title: <%= @chart.title %></h1>
<h1>Genre: <%= @chart.genre %></h1>
<p>What do you like to do?</p>

<%= link_to 'New Song', new_chart_song_path(@chart) %>
<%= link_to 'View Songs', chart_song_path(@chart) %>
<%= link_to 'Edit Chart', edit_chart_path(@chart) %>
<%= link_to 'Delete Chart', @chart, method: :delete %>
<%= link_to 'Back', root_path%>
