<h1>Title: <%= @chart.title %></h1>
<h1>Genre: <%= @chart.genre %></h1>
<p>What do you like to do?</p>

<%= link_to 'Edit Song', edit_chart_path(@chart) %>
<%= link_to 'Delete Song', @chart, method: :delete %>
<%= link_to 'Back', root_path%>
