<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<hr />
<%= form_for [@chart, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  <br />
  <%= f.label :artist %>
  <%= f.text_field :artist, required: true %>
  <br />
  <%= f.label :album %>
  <%= f.text_field :album, required: true %>
  <br />
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true %>
  <%= f.submit %>
<% end %>
